{
    "proxyConfig": [
        {
            "mustMatch": true,
            "logFile": "/var/www/storage/logs/proxy_log.log",
            "allowedReferers":["*"]
        }
    ],
    "serverUrls": [
        {
            "serverUrl" : [
                {
                    "url": "https://egp.nwcg.gov/arcgis/rest/services",
                    "matchAll": "true",
                    "rateLimit": "120",
                    "rateLimitPeriod": "60",
                    "token": ""
                }
            ]
        },
        {
            "serverUrl" : [
                {
                    "url": "example.server.number.two",
                    "username": "username",
                    "password": "password",
                    "rateLimit": "120",
                    "rateLimitPeriod": "60",
                    "matchAll": true
                }
            ]
        }
    ]
}