{
    "proxyConfig": [
        {
            "mustMatch": true,
            "logFile": "/var/www/storage/logs/proxy_log.log",
            "allowedReferers":["*"]
        }
    ],
    "serverUrls": [
        {
            "serverUrl" : [
                {
                    "url": "http://services.arcgisonline.com",
                    "matchAll": true
                }
            ]
        }
    ]
}