#login-form {
    margin:0 auto 0 auto;
    width:75%;
    text-align:left;
}

#login-window {
    width:350px;
    height:350px;
    border:4px dashed #99dd99;
    margin:50px auto 0 auto;
    padding-top:100px;
    padding-left:0px;
    background:url('/assets/images/crew-login-heli.png') no-repeat white;
    background-position:right bottom;
    border-radius:175px;
    text-align:center;
}

#forgot-password {
    width:100%;
    text-align:right;
}

#forgot-password a,
#forgot-password a:active,
#forgot-password a:visited,
#forgot-password a:hover
 {
    font-size: 0.8em;
    color:#aaddaa;
    font-weight:bold;
}
#forgot-password a:hover {
    color:#777777;
    text-decoration: none;
}